:root {
  --white: white;
  --gray: hsl(224, 23%, 55%);
  --purple: hsl(245, 83%, 68%);
  --blue-950: hsl(223, 47%, 23%);
  --blue-700: hsl(245, 75%, 52%);
  --blue-100: hsl(225, 100%, 94%);
  --blue-50: hsl(225, 100%, 98%);
  --line-height-135: 135%;
  --line-height-165: 165%;
  --font-size-28: 1.75rem;
  --font-size-22: 1.375rem;
  --font-size-16: 1rem;
  --font-size-15: 0.9375rem;
  --font-size-12: 0.75rem;
  --font-weight-black: 900;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --spacing-8: 0.5rem;
  --spacing-16: 1rem;
  --spacing-24: 1.5rem;
  --spacing-26: 1.625rem;
  --spacing-32: 2rem;
  --spacing-43: 2.6875rem;
  --spacing-48: 3rem;
  --mobile-card-width: 20.4375rem;
  --tab-desk-width: 28.125rem;
  --small-radius: 0.6875rem;
  --button-height: 3.125rem;
  --large-radius: 1.25rem;
  --container-shadow: hsl(228.07, 87.13%, 39.61%, 15.18%);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background-color: var(--blue-100);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url("./images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 87vh;
}

.summary-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: var(--large-radius);
  background-color: var(--white);
  margin-inline: var(--spacing-24);
  width: var(--mobile-card-width);
  box-shadow: 0 40px 40px -20px var(--container-shadow);
}

.hero-graphic {
  object-fit: contain;
  width: 100%;
  border-top-left-radius: var(--large-radius);
  border-top-right-radius: var(--large-radius);
  margin-bottom: var(--spacing-32);
}

.summary-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: var(--spacing-24);
}

.summary-container {
  margin-inline: var(--spacing-8);
  margin-bottom: var(--spacing-24);
}

.summary {
  font-weight: var(--font-weight-black);
  font-size: var(--font-size-22);
  line-height: var(--line-height-135);
  margin-bottom: var(--spacing-16);
  color: var(--blue-950);
}

.description {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-15);
  line-height: var(--line-height-165);
  color: var(--gray);
}

.plan-container {
  display: flex;
  align-items: center;
  padding: var(--spacing-16);
  margin-bottom: var(--spacing-24);
  justify-content: space-between;
  width: 100%;
  background-color: var(--blue-50);
  border-radius: var(--small-radius);
}

.music-note {
  margin-right: var(--spacing-16);
}

.change {
  font-weight: var(--font-weight-bold);
  color: var(--blue-700);
}

.change:hover {
  color: var(--purple);
  cursor: pointer;
}

.plan-info {
  display: flex;
  font-size: var(--font-size-15);
  line-height: var(--line-height-165);
  text-align: left;
}

.plan,
.proceed-button,
.cancel {
  font-weight: var(--font-weight-black);
  font-size: var(--font-size-15);
  line-height: var(--line-height-165);
}

.plan {
  color: var(--blue-950);
}

.price {
  color: var(--gray);
  font-weight: var(--font-weight-medium);
}

.cancel {
  color: var(--gray);
}

.cancel:hover {
  color: var(--blue-950);
  cursor: pointer;
}

a {
  text-decoration: none;
}

.payment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-24);
  margin-bottom: var(--spacing-26);
  width: 100%;
}

.proceed-button {
  width: 100%;
  height: var(--button-height);
  border-radius: var(--small-radius);
  border: none;
  background-color: var(--blue-700);
  color: var(--white);
  font-family: inherit;
  font-weight: var(--font-weight-bold);
}

.proceed-button:hover {
  background-color: var(--purple);
  cursor: pointer;
}

.credits {
  text-align: center;
  font-size: var(--font-size-12);
  color: var(--gray);
  & .link {
    text-decoration: none;
  }

  & .link:hover {
    text-decoration: underline;
  }

  & .link:visited {
    color: var(--blue-700);
  }
}

@media screen and (min-width: 46.875em) {
  .summary-card {
    width: var(--tab-desk-width);
  }
  .summary-content {
    padding-inline: var(--spacing-48);
  }

  .summary {
    font-size: var(--font-size-28);
  }

  .description,
  .plan,
  .price,
  .change,
  .proceed-button,
  .cancel {
    font-size: var(--font-size-16);
  }

  .payment-container {
    margin-bottom: var(--spacing-43);
    gap: var(--spacing-32);
  }
}

@media screen and (min-width: 62.5em) {
  body {
    background-image: url("./images/pattern-background-desktop.svg");
    height: 100vh;
  }
}
